.main {
  padding-top: 8rem;
  background-image: url('/body-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.character-card-avatar {
  width: 14.6875rem;
  height: 14.5625rem;
  padding: 0.6rem;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.character-card {
  width: 16.6875rem;
  height: 22.8125rem;
  padding: 1rem !important;
  background: rgba(58, 56, 65, 0.6) !important;
  border: none !important;
  border-radius: 10px;
}

.avatar {
  width: 235px;
  position: absolute;
  top: 2.2rem;
  left: 0;
}

.card-type {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  text-transform: capitalize;
  background: rgba(58, 56, 65, 0.6) !important;
  border-radius: 4px;
  padding: 0 0.8rem;
  color: white;
}

.love {
  width: 16px;
  height: 15px;
}

.character-card-avatar-header {
  display: flex;
  justify-content: space-between;
}

.cost {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
}

.price {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 4rem;
  margin-right: 0.3rem;
  color: white;
}

.unit {
  display: flex;
  align-items: center;
  margin-right: 0.4rem;
  color: white;
}

.character-information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.character-information-name {
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10rem;
  color: white;
}

.character-information-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.character-information-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.character-information-author-name {
  margin-left: 0.6rem;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  color: white;
}

.character-information-author-avatar {
  position: relative;
}

.character-information-author-verify {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 1px;
  bottom: 7px;
}

.character-list {
  display: flex;
  gap: 2rem;
  max-height: 124rem;
  overflow: auto;
}

.character-list::before {
  padding-right: 10px;
}

.character-list::-webkit-scrollbar {
  height: auto;
  width: 6px;
}

.character-list::-webkit-scrollbar-thumb {
  background: rgba(255, 204, 33, 1) !important;
  border-radius: 4px;
}

.character-list::-webkit-scrollbar-track {
  background: rgba(119, 119, 119, 1);
  border-radius: 4px;
}

.container {
  flex-flow: unset !important;
  flex-direction: column;
}

.search-input {
  color: #89888b !important;
  border-color: #89888b !important;
}

.search-input::placeholder {
  color: #89888b !important;
  font-size: 12px;
  font-weight: 500;
}

.filter {
  max-width: 350px !important;
  width: 100%;
  margin-right: 2rem !important;
}

.group-character-list {
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    flex-flow: row wrap !important;
  }
}

@media (max-width: 1024px) {
  .filter {
    min-width: unset !important;
    margin: 0 !important;
  }
}
