.link {
  cursor: pointer;
}

.extra {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.information-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.6rem;
}

.input {
  width: 426px !important;
}

.pre-footer {
  justify-content: space-between;
}

@media (max-width: 1440px) {
  .container {
    flex-direction: column-reverse !important;
    justify-content: center !important;
  }

  .copywriter {
    display: flex;
    justify-content: center;
  }

  /* .navigation {
    flex-direction: column !important;
    
    & div {
      display: flex !important;
      flex-direction: column !important;
    }
  } */

  .extra {
    justify-content: center;
  }

  .input {
    width: 100% !important;
  }

  .information-title {
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }

  .pre-footer {
    flex-direction: column !important;
    align-items: center;
  }
}
