:root {
  --white: #ffffff;
  --foreground: #171717;
  --blur: #89888b;
  --border: #3a3841;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5.25rem;
  background: #17161ab2;
  z-index: 99;
}

footer {
  padding-top: 1rem;
  background: #17161a;
  min-height: 550px;

  & p {
    cursor: pointer;
  }
}

html,
body {
  /* overflow-x: hidden; */
  margin: 0 auto;
  background: #17161a;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  max-width: 1920px;
  padding: 0;
  margin: 0;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--white) !important;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;
}

.max-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ant-divider {
  border: 1px solid #3a3841;
}

.ant-typography {
  color: var(--white);
}

.font-16 {
  font-size: 1rem !important;
  font-weight: 500;
}

.ant-card-body {
  padding: 0 !important;
}

.ant-select-selector {
  display: flex;
  align-items: center;
  color: var(--white) !important;
  background: none !important;
  border-color: var(--border) !important;
  padding-left: 1rem !important;
  border-radius: 4px;
  font-size: 1rem !important;
}

.ant-select-selection-item {
  margin-bottom: 2px !important;
}
